.container{
    width: 300px;
    /* height: 300px; */
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    border: 1px solid black;
}

.one{
    height: 100px;
}

.two{    
    height: 50px;
}

.three{    
    height: 30px;
}